<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons</title>
</head>
<body>
    <a th:href="@{/persons/create}">Add New Person</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Email</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody th:each="person : ${persons}">
            <td th:utext="${person.id}" name="id"></td>
            <td th:utext="${person.fullName}" name="fullName"></td>
            <td th:utext="${person.email}" name="email"></td>
            <td>
                <a th:href="@{/persons/delete/{id}/{fullName}/{email}(id=${person.id},fullName=${person.fullName},email=${person.email})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/persons/edit/{id}/{fullName}/{email}(id=${person.id},fullName=${person.fullName},email=${person.email})}">Edit</a>
            </td>
        </tbody>
    </table>
    
</body>
</html>